*{
    box-sizing: border-box;
}

body{
    background-image: url("https://media.istockphoto.com/vectors/abstract-geometric-medical-cross-shape-medicine-and-science-concept-vector-id940993008?k=20&m=940993008&s=612x612&w=0&h=rCRrrtzkm7aUqbzFf_ov3KF5UWgc_yDu_GAibzmVbWE=");
    background-repeat: no-repeat;
    background-size: cover;
}



.info ul {
   
    text-decoration: none;
    overflow: auto;
    list-style: none;
    padding: 3px;
    margin: 2px;
    text-align: center;
    cursor: pointer;
    
}

.info li {
    float: left;
    padding-top: 0px;
    margin: 3px;
    font-size: 26px;
}
.info ul :hover{
    color: red;

    
}
.info a {
    color: black;
    font-family: cursive;
    font-size: 25px;
    padding: 1px 22px;
    /* margin: 5px 1px; */
    text-align: center;
    text-decoration: none;
}

.info img {
    float: left;
    width: 124px;
    height: 100px;
    padding: 1px;
    /* margin: -18px 3px; */
    margin-top: -25px;
}
.container{
    margin-top: -40px;
}


#find{
    height: 25px;
    width: 300px;
    margin: 12px;
}

.call{
    border-radius: 4px;
    
}

.carousel-inner {
    
    height: 450px;
    width: 1200px;
    
}

#img1 img {
    height: 450px;
    width: 1200px;
}
#img2 img {
    height: 450px;
    width: 1200px;
}
#img3 img {
    height: 450px;
    width: 1200px;
}
#img4 img {
    height: 450px;
    width: 1200px;
}

.navbar2{
    margin: 28px;
    margin-top: 55px;
    border: 2px solid black;
    background-color: rgb(0, 0, 128);
    color: white;
}

.options ul {
    text-decoration: none;
    overflow: auto;
    list-style: none;
    padding: 3px;
    margin: 2px;
    text-align: center;
    
}

.options li {
    float: left;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 3px;
    font-size: 26px;
    display: flex;
}


#option1{
    border: 2px solid darkblue;
    padding: 32px;
    margin-left: 37px;
}

.options ul :hover{
    color: white;
    background-color: black;
    border-radius: 30px;
    

}


#option2{
    border: 2px solid darkblue;
    padding: 32px;

}
#option3{
    border: 2px solid darkblue;
    padding: 32px;

}
#option4{
    border: 2px solid darkblue;
    padding: 32px;

}
#option5{
    border: 2px solid darkblue;
    padding: 32px;

}

/* #main {
    background-color: yellow;
    color: black;
    height: 100px;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    text-align: center;
    margin-top: 4px;
} */
#main{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-emphasis-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 50px;
      margin-top: 5px;
      margin-left: 369px;
    
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.aboutUs {
    background-color: rgb(255, 184, 53);
    color: black;
    float: left;
    position: relative;
    display: flex;
    display: inline;
    padding-top: 30px;
    padding-bottom: 120px;
    padding-left: 20px;
    
}

.aboutUs p {
    position: relative;
    display: inline;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 25px;
    

}

.aboutUs h3 {
    margin-top: 26px;
    font-family: 'Oswald', sans-serif;
    font-size: 60px;

}

/* .services{
    background-color: #664ebd;
    margin-top: 50px;
}

.services h2 {

    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    margin-top: 50px;

}

.services p{
    position: relative;
    display: inline;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 25px;

} */

.navbar3{
    margin-top: 10px;
    background-color: #231557;
    color: #88f8ff;
    
}

.facilities li {
    display: inline-block;
    width: 24%;
    text-align: center;
    vertical-align: top;
    position: relative;
    margin-top: 20px;
    font-size: 28px;
}


.facilities li h2 {
    font-size: 40px;
}
    

.facilities li h2 {
    color: #88f8ff;
    font-size: 42px;
    font-weight: bold;
    text-shadow: 1px 1px 2px #000;
}
h2 {
    font-size: 40px;
    line-height: normal;
    margin: 20px 0;
}

.facilities ul :hover {
    animation:forwards;
    animation-timing-function: 3s;
    animation-fill-mode: forwards;

}

.wavy {
    
   text-align: center;
  position: relative;
  /* -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2)); */
  font-size: 60px;
}
.wavy span {
  font-family: 'Alfa Slab One', cursive;
  position: relative;
  display: inline-block;
  color: black;
  text-transform: uppercase;
  animation: wavy 1s infinite;
  animation-delay: calc(.1s * var(--i));
  
}
@keyframes wavy {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-20px)
  }
}

.departments-box-layout1 {
    /* position: relative; */
    /* width: 100%; */
    
    margin-bottom: 10px;
    padding: 53px 35px;
    border-radius: 4px;
    background-color: #ffffff;
}
.departments-box-layout2 {
    /* position: relative; */
    /* width: 100%; */
    
    margin-bottom: 10px;
    padding: 63px 35px;
    border-radius: 4px;
    background-color: #ffffff;
}
.departments-box-layout3 {
    /* position: relative; */
    /* width: 100%; */
    
    margin-bottom: 10px;
    padding: 72px 35px;
    border-radius: 4px;
    background-color: #ffffff;
}
.departments-box-layout4 {
    /* position: relative; */
    /* width: 100%; */
    margin-top: 2px;
    margin-bottom: 10px;
    padding: 53px 35px;
    border-radius: 4px;
    background-color: #ffffff;
}

.departments-box-layout5{
    
    margin-top: -275px;
    margin-bottom: 100px;
    padding: 53px 35px;
    border-radius: 4px;
    background-color: #ffffff;
}
.departments-box-layout6{
    
    margin-top: -275px;
    margin-bottom: 100px;
    padding: 41px 35px;
    border-radius: 4px;
    background-color: #ffffff;
}

.services h2 {
    margin-left: 20px;
    font-family: 'Oswald', sans-serif;
    font-size: 60px;
    color: black;
    text-align: center;

}

.contactus{
    padding-top: 100px;
    background-color: black;
    color: white;
    text-align: center;
}

#last{
    text-align: center;
    margin: 60px;
}

#groupmembers{
    margin-top: 10px;
    text-align: center;
    padding-bottom: 30px;
    
}

.form{
    font-size: medium;
    margin-top: 700px;
    margin-left: 365px;
    margin-bottom: 100px;
    height: 300px;
    width: 600px;
    padding: 50px;
    padding-left: 22px;
    padding-bottom: 353px;
    border: 2px solid black;
    background-color: pink;
    border-radius: 10px;
}

.form h3{
    text-align: center;
}

#submit{
    align-items: center;
    margin-left: 231px;
    margin-top: 3px;
}



 
